{{#if (or isUser isJobPage)}}
<div class="job-container job-detail" data-job-id="{{job.id}}">
    <div class="job-title-container">
        <h2>{{job.title}}</h2>
    </div>
    <div class="job-info-container">
        <p class="company-name"><span class="bold">Company:</span> {{job.recruiter.company_name}}</p>
        <p class="location"><span class="bold">Location:</span> {{job.recruiter.location}}</p>
        <div class="job-description-container">
            <p class="job-description-title"><span class="bold">Job Description</span></p>
            <textarea class="job-description-content" disabled>{{job.job_description}}</textarea>
        </div>
        <p class="salary"><span class="bold">Salary:</span> {{formatSalary job.salary}}</p>
    </div>
    {{#if (and isUser isApplied)}}
    <button class="btn apply-btn" id="cancel-btn">Cancel Application</button>
    {{else if (and isUser (not isApplied))}}
    <button class="btn apply-btn" id="apply-btn">Apply</button>
    {{/if}}
</div>
{{else}}
<section class="job-editor-section">
    <div class="job-container job-detail {{#if isBelongTo}}job-editor{{/if}}" data-job-id="{{job.id}}">
        <div class="job-title-container">
            <h2>{{job.title}}</h2>
        </div>
        <div class="editor-group">
            <a href="/dashboard/edit/job/{{job.id}}" class="link btn edit-link">Edit</a>
            <button class="btn" id="delete-btn">Delete</button>
        </div>
    </div>
    <div class="candidate-container">
        {{#each candidates as |candidate|}}
        {{> candidate-details}}
        {{/each}}
    </div>
</section>
{{/if}}