<div class="job-container job-detail">
    <div class="job-title-container">
        <h2>{{job.title}}</h2>
    </div>
    <div class="job-info-container">
        <p class="company-name">Company: {{job.recruiter.company_name}}</p>
        <p class="job-location">Location: {{job.recruiter.location}}</p>
        <p class="salary">{{formatSalary job.salary}}</p>
        <p>{{job.job_description}}</p>
    </div>
    <button class="btn apply-btn">Apply</button>
</div>